{% extends "base_app.html" %}
{% block title %}Templates{% endblock %}
{% block breadcrumb %}
<nav class="breadcrumb">
    <a href="/settings">Settings</a> / <span>Templates</span>
</nav>
{% endblock %}
{% block content %}
<h1>Interview Templates</h1>

<table class="table-clean">
    <tbody>
        {% for item in template_data %}
        <tr class="clickable-row" data-href="/templates/{{ item.template.id }}">
            <td class="col-primary">{{ item.template.name }}</td>
            <td class="row-meta">{{ item.section_count }} sections</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
